<!-- this file has been fixed by manas on branch feature1 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector</title>
    <link rel="stylesheet" href="../static/style.css">
    
    
</head>

<body>
    <div class="container" >
        <h1>Collecting Heights</h1>
        <h3>Please fill the entries to get population statistics on height</h3>
        <div class="message">
            {{text | safe}}
        </div>
        <form action="{{url_for ('successPage')}}" method="POST">
            <input type="text" placeholder="Enter your name" name = "user_name" required><br>
            <input type="email" title="Your Email will be safe with us" placeholder="Enter your Email Address" name="email_name" required><br>
            <input type="number" min="50" max="300" title="Your data will be safe with us" placeholder="Enter your height in CM" name="height_name" required><br>
            <button type="submit" class="button1"> Save </button>
            <button type="reset" value="Reset" class="button2"> Reset </button>
            

        </form>
    </div>


   
</body>

</html>
