<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <p>Thank you for your Submission! <br>
        your height is <strong>{{ heights }}</strong> and the average height for all is <strong>{{ avg }}</strong>
        </p>
       <h1>Current Data for all people</h1>
        <div>
            
            <table class="center">
                <tr>
                    <th>Name</th>
                    {% for dataName in userName %}
                    <td>
                        {{ dataName.name }}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th style="text-align: center;">Email</th>
                    {% for dataEmail in mail %}
                    <td>
                        {{ dataEmail.email_ }}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Height</th>
                    {% for dataHeight in heit %}
                    <td>
                        {{ dataHeight.height_ }}
                    </td>
                    {% endfor %}
                </tr>
            </table>
            
        </div>
        <form action="{{url_for ('Home')}}" method="POST">
            <button type="submit" class="button2">Home</button>
        </form>
        
    </div>

    

    

   
</body>
</html>